<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="ColoredConsoleAppender" />
		<appender-ref ref="TraceAppender" />
	</root>
	<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
		<mapping>
			<level value="ERROR" />
			<foreColor value="White" />
			<backColor value="Red, HighIntensity" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<backColor value="Yellow" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
</log4net>